* {
    margin: 0px;
    padding: 0px;
}

body {
    background: rgb(1, 18, 44);
    background-image: url("/images/stock-vector-quiz-and-question-marks-trivia-night-quiz-symbol-neon-sign-night-online-game-with-questions-2052894734-transformed.jpg");
    display: flex;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#tome {
    background-image: linear-gradient(to left top, #d9a7c7, #f2b7c0, #fecdbe, #ffe4c7, #fffcdc);
    width: auto;
    height: auto;
    border: 2px solid rgb(23, 7, 243);
    margin: auto;
    font-family: 'Tilt Neon', sans-serif;
    flex-wrap: wrap;
    border-radius: 5em;
    border: 2px solid yellow;
    padding: 3em;
    gap: 2em;
}

li {
    list-style: none;
}

.name {
    margin: 2rem;
}

.email {
    margin: 2rem;
}

.section2 {
    margin: 2rem;
}

.roll {
    margin: 2rem;
}

input[type="submit"] {
    background-color: #04AA6D;
    color: white;
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 4px;
    margin: auto;
    cursor: pointer;
    justify-self: center;
    align-items: center;
}

Input[type="text"] {
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 4px;
    margin: auto;
    justify-self: center;
    align-items: center;
}

Input[type="number"] {
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 4px;
    margin: auto;
    justify-self: center;
    align-items: center;
}

.welcon {
    font-size: 5vh;
    display: flex;
    justify-content: center;
    color: blue;
    margin: 2rem;
}

.container11 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#img23 {
    height: auto;
    width: 60%;
    margin-left: 10%;
    transform: scaleX(-1);
    flex-grow: 5;
}

.cont {
    width: 6rem;
    display: inline-block;
}

li div {
    display: flex;
}

.quiz {
    background-image: linear-gradient(to left top, #d9a7c7, #f2b7c0, #fecdbe, #ffe4c7, #fffcdc);
    width: 50%;
    height: auto;
    border: 2px solid rgb(57, 57, 231);
    margin: auto;
    font-family: 'Tilt Neon', sans-serif;
    flex-wrap: wrap;
    border-radius: 5em;
    border: 2px solid yellow;
    padding: 3em;
    gap: 2em;
    display: flex;
    flex-direction: column;
}
#result
{
    background-image: linear-gradient(to left top, #d9a7c7, #f2b7c0, #fecdbe, #ffe4c7, #fffcdc);
    width: 20%;
    height: auto;
    border: 2px solid rgb(57, 57, 231);
    margin: auto;
    font-family: 'Tilt Neon', sans-serif;
    flex-wrap: wrap;
    border-radius: 5em;
    border: 2px solid yellow;
    padding: 3em;
    gap: 2em;
    display: flex;
    flex-direction: column;
}
#result li
{
    display: flex;
    margin: 2em;

}
.timer
{
     width: 10%;
     display: flex;
     align-items: center;
     float: right;
     background-image: linear-gradient(to right top, #b2fefa, #95f4f7, #76e9f6, #51def6, #0ed2f7);
    border: 2px solid black;
    padding: 1em;
    margin: 0.5em;
    /* transform: translate(200%); */
    border-radius: 40%;
    justify-content: center;
}
@media(max-width:740px)
{
    .timer{
        width:25%;
    }
}
.next
{
    margin: 1em;
}
.ak
{
    display: flex;
    justify-content: space-between;
}
#next
{
    background-color: aqua;
    color:rebeccapurple;
    font-size: larger;
    font-weight: bold;
    padding: 3%;
    border-radius: 20%;
}
.Next1:hover{
    cursor: pointer;
    background-color: #d9a7c7;
    color: black;
}
#playag
{
    background-color: aqua;
    color:rebeccapurple;
    font-size: larger;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width:7em;
    height:2em;
    
}
input[type="button"]
{
    text-decoration: none;
}
.playag
{
    text-decoration: none;
    border-radius: 20%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    padding:1em;
}
.Q1
{
    border: 2px solid black;
    padding: 1em;
    margin: 0.5em;
    border-radius:20%;
    width: 50%;
    align-items: center; transform: translate(40%);
}
.option ul li{
    border: 2px solid black;
    margin:1em;
    justify-content: center;
    padding: 0.8em;
}
.footer
{
    display: flex;
    justify-content: space-between;
}
#next1{
    background-color: aqua;
    color:rebeccapurple;
    font-size: larger;
    font-weight: bold;
    padding: 0.8em;
    border-radius: 1em;
    /* transform: translate(158%); */
}
#skip
{
    background-color: aqua;
    color:rebeccapurple;
    font-size: larger;
    font-weight: bold;
    padding: 0.8em;
    border-radius: 1em;
    /* transform: translate(-1%); */
}
#question
{
    display: flex;
    justify-content: center;
}
.option li:hover
{
    background-color: aqua;
    color: black;
    cursor: pointer;
}
.show
{
    margin: 1em;
    display: block;
    
}