*{
    margin: 0px;
    padding: 0px;
}
body{
    background: rgb(1,18,44);
    background-image: linear-gradient(to right bottom, #000046, #002f73, #005a9c, #0087c0, #1cb5e0);
    height: 100vh;
    display: flex;
    min-height: 100vh;
}
.start
{
    background-image: linear-gradient(to left top, #d9a7c7, #f2b7c0, #fecdbe, #ffe4c7, #fffcdc);
    width:auto;
    height: auto;
    border: 2px solid black;
    margin: auto;
    font-family: 'Tilt Neon', sans-serif;
    flex-wrap: wrap;
    border-radius: 5em;
    border: 2px solid yellow;
   
}
@media(max-width:817px)

{
    /* .start{
        width: 50%;
        height: auto;
    } */
    .inst
    {
        margin: 2rem;
    }
}
@media(min-width:335px)
{
    #quiz
        {
            width:60% ;
            height: auto;
        }

}
#quiz
{
    width: 60%;
    height: 60%;
}
.inst{
    margin: 2rem;
}
.inst a{
    text-decoration: none;
}
.next{
    margin: 2rem;
   
}
#next
{
    background-color: aqua;
    color:rebeccapurple;
    font-size: larger;
    font-weight: bold;
    padding: 3%;
    border-radius: 20%;
}
#inst
{
    background-color: aqua;
    color:rebeccapurple;
    font-size: larger;
    font-weight: bold;
}
@media(max-width:410px)
{
    #inst
    {
       font-size: large;
       font-weight: normal;
    }

}
.next a{
    text-decoration: none;
}
.welcon
{
    font-size: 3em;
    display: flex;
    justify-content: center;
    color: blue;
    margin: 2rem;
}
input[type=button]
{
    width: 8em;  height: 2em;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;


}
.container
{  display: flex; 
    align-items: center; 
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
}
.img1 img
{
    width: 25vw;
    height: 25vh;
    margin: 2rem;
    position: relative;
    top:0%;
    display: flex;
    justify-content: space-between;
}
.featlay ul li
{
    font-size: 5vh;
    gap: 1em;
    margin: 0.8rem;
}
.featlay
{
    margin: 2em;
}
.second_page
{
    color: aliceblue;
   background-image: linear-gradient(to bottom, #d9a7c7, #f2b7c0, #fecdbe, #ffe4c7, #fffcdc);
    width: 50%;
    height:auto;
    display: flex;
    align-items: center;
    border: 2px solid black;
    justify-content: center;
    margin: auto;
    padding: 50px 60px;
    line-height: 2rem;
    border: 1px solid white;
    border-radius: 5em;
    flex-wrap: wrap;
}
.second_page b{
    color:rgb(255, 55, 0);
    font-family: 'Bitter', serif;
font-family: 'Tilt Neon', sans-serif;
}
.second_page ul li{
    color:black;
    font-family: 'Bitter', serif;
font-family: 'Tilt Neon', sans-serif;
font-weight: bold;
font-size: 1.5em;
margin: 0.9em;
}
